In [12]:
import pandas as pd
import os

## Reading the Data

In [ ]:
claims_datas = [f"claims_{i}" for i in range(1, 6)]

In [8]:
claims_datas

['claims_1', 'claims_2', 'claims_3', 'claims_4', 'claims_5']

In [17]:
cd ..

/Users/deniztokmakoglu/CAPP30254_Project

In [22]:
claims = pd.read_csv("Data/claims1.csv")

In [26]:
for i in range(2, 6):
    claims = claims.append(pd.read_csv(f"Data/claims{i}.csv"))

In [27]:
claims

,Unnamed: 0,reimb2010,reimb2008,reimb2009,age2010,male,race,heart.failure,kidney,cancer,...,OfficeVisit,EyeExam,EKG,xray,CTScan,PhysicalTherapy,Ambulance,acuity,costTrend,monthsWithClaims
0,0,390,320.0,360,97,0,White,0,0,0,...,4,1,0,1,0,0,0,0.235294,-0.018856,9
1,1,970,58800.0,2740,79,0,White,1,1,0,...,12,0,2,8,1,0,1,0.853591,-0.027265,21
2,2,5630,510.0,1580,87,0,White,1,0,0,...,10,0,1,2,1,1,0,0.175115,0.496742,20
3,3,3480,2930.0,49330,79,0,White,1,1,0,...,14,1,1,6,4,3,3,0.709147,0.214955,19
4,4,920,1500.0,1650,85,1,White,1,0,1,...,16,2,1,3,0,1,0,0.174603,0.231568,21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
204783,1023947,6620,2090.0,4070,54,1,Block,1,0,0,...,12,3,3,5,0,0,3,0.194805,0.333441,22
204784,1023948,490,12450.0,1560,70,1,White,1,1,0,...,6,0,0,2,0,0,1,0.722341,-0.129291,15
204785,1023949,690,1370.0,2440,75,0,Other,1,1,0,...,12,1,2,6,1,2,2,0.207349,0.183677,19
204786,1023950,1140,6530.0,9220,78,0,White,0,1,1,...,20,0,4,2,2,1,0,0.121905,0.117923,23
204787,1023951,1620,4160.0,18490,67,0,White,1,1,0,...,4,0,0,2,4,3,2,0.773510,0.037682,22

In [29]:
import numpy as np
import warnings
from sklearn import datasets, linear_model
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.preprocessing import StandardScaler
warnings.filterwarnings('ignore')
%matplotlib inline
from sklearn.model_selection import train_test_split

In [30]:
def normalize(df, scaler=None):
    '''
    If scaler is not none, use given scaler's means and sds to normalize
    (used for test set case)
    '''
    #Will not normalize the response (or outcomes), only the predictors
    (features)
    #Normalizing train set
    if(scaler is None):
        scaler = StandardScaler()
        normalized_features = scaler.fit_transform(df)
    #Normalizing test set
    else:
        normalized_features = scaler.transform(df)
        outcomes = df.iloc[:,-1]
        normalized_df = pd.DataFrame(normalized_features)
    normalized_df.index=df.index
    normalized_df.columns=df.columns
    return normalized_df, scaler

In [31]:
train, test = train_test_split(
claims,
test_size=0.20, random_state = 505)

In [33]:
test

,Unnamed: 0,reimb2010,reimb2008,reimb2009,age2010,male,race,heart.failure,kidney,cancer,...,OfficeVisit,EyeExam,EKG,xray,CTScan,PhysicalTherapy,Ambulance,acuity,costTrend,monthsWithClaims
101383,510965,530,1780.0,1130,68,0,White,0,0,0,...,13,5,0,2,0,6,0,0.185567,-0.045969,15
5767,824931,1070,560.0,910,70,0,White,1,0,0,...,7,1,0,3,0,1,1,0.142857,0.226803,15
36992,446574,110,1110.0,1790,46,0,White,0,1,0,...,8,0,1,3,1,0,0,0.293103,0.105130,16
78298,897462,780,700.0,640,61,0,White,0,0,1,...,11,0,1,0,1,1,0,0.171642,0.070622,14
46939,251730,1450,240.0,530,70,1,White,0,0,0,...,3,0,1,0,0,0,0,0.194805,0.449534,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
138880,548462,3280,3860.0,6730,86,0,White,1,1,0,...,16,1,0,3,1,4,2,0.380548,0.127916,23
80166,489748,1680,950.0,1550,77,0,White,1,0,0,...,5,0,2,0,0,1,0,0.172000,0.125199,18
135287,749660,730,240.0,770,64,0,White,1,0,0,...,2,0,1,1,0,1,0,0.207921,0.295881,12
173593,378384,1610,3280.0,3500,44,0,Block,1,1,1,...,30,1,6,9,0,3,3,0.115044,0.117003,21
203483,613065,1430,53210.0,23200,76,0,White,1,1,0,...,8,1,6,8,1,3,1,0.667845,-0.140962,19

In [34]:
train_features_officevisit = train.loc[:,"OfficeVisit"]
test_features_officevisit = test.loc[:,"OfficeVisit"]
train_targets_reimb2010 = train.loc[:,"reimb2010"]

test_features_tmin = df_test.loc[:,"TMIN"]
test_features_count= test.loc[:,"COUNT TRIPS"]

In [ ]:
regr1 = linear_model.LinearRegression()
regr1.fit(np.array(train_features_tmax).reshape(-1,1), train_targets_cou
nt)